<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'tv_shows_app/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .mybody {
            background-image: url("{% static 'tv_shows_app/img/NinjaPurple.png' %}");
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <title>Read (one)</title>
</head>

<body class="mybody">
    <div class="wrapper">
        <a class="fixedTopRight accessible" href="/shows">Go Back</a>
        <h1>TV Show {{show.id}}</h1>
        <span class="LabelLetters">Title:</span> {{show.title}}</p>
        <span class="LabelLetters">Network: </span> {{show.network}}</p>
        <span class="LabelLetters">Release Date:</span> {{show.release_date | date:'F d, Y'}}</p>
        <div class="textarea"><span class="LabelLetters">Description:</span>  {{show.desc}} </div>
        <span class="LabelLetters">Last updated:</span> {{show.updated_date | date:'F d, Y h:m a'}}</p>
        <a href="/shows/{{show.id}}/edit" class="accessible">Edit</a> | <a href="/shows/{{show.id}}/destroy" class="accessible">Delete</a>
    </div>

</body>

</html>